$opa = 0.3;
$textColor = black;

.custom-block{
  &.tip{
    $color = $badgeTipColor;
    border-color: $color;
    background-color: alpha($color, $opa);

    .custom-block-title, p{
      //color: $textColor;
    }
  }

  &.warning{
    $color = $badgeWarningColor;
    border-color: $color;
    background-color: alpha($color, $opa);

    .custom-block-title, p{
      color: $primary;
    }
  }

  &.details{
    $color = $badgeErrorColor;
    border-color: $color;
    background-color: alpha($color, $opa);

    .custom-block-title, p{
      //color: $textColor;
    }
  }
}
